################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/AP-Physics-C/v16/ipch/AutoPCH/97dd9f8dd06b2846
/.vs/AP-Physics-C/v16/ipch/AutoPCH/165f7c072dfb556
/.vs/AP-Physics-C/v16/ipch/AutoPCH
/.vs/AP-Physics-C/v16/Browse.VC.opendb
/.vs/AP-Physics-C/v16/Browse.VC.db
/.vs/AP-Physics-C/v16/.suo
